/* install/style.css */
body {
    background-color: #121212;
    color: #fff;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 50px;
}

.container {
    background-color: #1f1f1f;
    padding: 30px;
    border-radius: 10px;
    width: 400px;
    margin: 0 auto;
}
.header {
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    gap: 10px;
}
.header select {
    background-color: #333;
    color: #fff;
    border: 1px solid #444;
    border-radius: 5px;
    padding: 5px;
    font-family: Arial, sans-serif;
}

h1 {
    color: #e50914;
}

label {
    display: block;
    margin: 15px 0 5px;
    font-weight: bold;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
}

input[type="submit"] {
    background-color: #e50914;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #b20610;
}
